<div id="content" data-role="content">
  <div id="sectionBanner" data-role="header">
    <div class="ui-bar ui-title-a">
      <h1><%= pageTitle %></h1>
    </div>
    <div id="location"></div>
  </div>
	<% if (categories.length > 0) { %>
	<ul data-role="listview">
    <% _.each(categories, function(category) { %>
	    <% if (category.get('title') !== null) { %>
	      <li><a href="/venues/<%= category.get('id') %>">
          <% if (category.get('iconUrl') !== null) { %><img src="<%= category.get('iconUrl') %>" class="ui-li-icon ui-li-icon-a ui-li-thumb" height="32px" width="32px" /><% } %>
          <%= category.get('title') %></a>
        </li>
	    <% } %>
    <% }); %>
  </ul>
  <% } else { %>
    <h2>No Categories Listed</h2>
  <% } %>
</div>