<div data-role="content">
  <% if (venues.length > 0) { %>
  <ul data-role="listview">
  
    <% venues.each(function(venue) { %>
      <% if (venue.get('tradingName') !== null) { %>
        <li>
          <a href="/venueDetails/<%= venue.get('id') %>">
            <% if (venue.get('thumbUrl') !== null) { %><img src="<%= venue.get('thumbUrl') %>" class="ui-li-thumb"><% } %>
          		<h3 class="ui-li-heading"><%= venue.get('tradingName') %></h3>
          		<% if (venue.get('location').fullAddress !== '') { %>
          		<p class="ui-li-desc"><%= venue.get('location').fullAddress %></p>
              <p class="ui-li-desc"><%= window.NEARMEAPP.UTILVIEWHELPER.calculateDistance(venue.get('distance')) %></p>
        		<% } %>
            </a>
        </li>
      <% } %>
    <% }); %>
  
  </ul>
  <% } else { %>
  <h2>No venues listed</h2>
  <% } %>
</div>