<div data-role="content">
  <% if (venues.length > 0) { %>
  <ul data-role="listview">
  
    <% venues.each(function(venue) { %>
      <li>
      		<h3 class="ui-li-heading"><a href="/venueDetails/<%= venue.get('id') %>"><%= venue.get('tradeName') %></a></h3>
      		<% if (venue.get('location').fullAddress !== '') { %>
      		<p class="ui-li-desc"><%= venue.get('location').fullAddress %></p>
      		<% } %>
      </li>
    <% }); %>
  
  </ul>
  <% } else { %>
  <h2>No venues listed</h2>
  <% } %>
</div>