<div id="content" data-role="content">
	<% if (venue.get('tradingName') != undefined) { %>

    <div class="ui-venueDetails-heading">
      <% if (prevVenue !== undefined) { %>
        <a href="/venueDetails<% if (showMap) { %>Map<% } %>/<%= prevVenue.get('id') %>" class="ui-prevButton"><span>Prev</span></a>
      <% } else { %>
        <span class="ui-prevButton ui-prevButton-disabled"><span>Prev</span></span>
      <% } %>
      
      <div class="ui-heading-content">
        <% if (venue.get('thumbUrl') !== null) { %><span class="ui-venue-photo-container"><img src="<%= venue.get('thumbUrl') %>" width="150px" class="ui-venue-photo" ></span><% } %>

        <div class="contentInfo">
          <h1><%= venue.get('tradingName') %></h1>
        
          <p><%= venue.get('location').fullAddress %></p>
      
          <p class="distance"><%= window.NEARMEAPP.UTILVIEWHELPER.calculateDistance(venue.get('distance')) %></p>
        </div>
      </div>
      <% if (nextVenue !== undefined) { %>
        <a href="/venueDetails<% if (showMap) { %>Map<% } %>/<%= nextVenue.get('id') %>" class="ui-nextButton"><span>Next</span></a>
      <% } else { %>
        <span class="ui-nextButton ui-nextButton-disabled"><span>Next</span></span>
      <% } %>
    </div>  

    <% if (!showMap) { %>
    <div id="infoView" class="infoView">
      <p class="button btn_map"><a href="/venueDetailsMap/<%= venue.get('id') %>" class="showMapView"><img src="/assets/img/btn_map.png" alt="show map" /></a></p>

      <% if (venue.get('contact') !== null) { %>
        <% if (venue.get('contact').phone !== null) { %>
        <p class="btn_phone"><a href="tel:<%= venue.get('contact').phone.replace(' ', '') %>"><strong>Phone:</strong> <%= venue.get('contact').phone %></a></p>
        <% } %>


        <% if (venue.get('contact').websiteUrl !== null) { %>
          <p class="btn_website"><a href="<%= venue.get('contact').websiteUrl %>" target="_none"><strong>Web:</strong> <%= venue.get('contact').websiteUrl %></a></p>
        <% } %>
      <% } %>
      <% if (mailToLink !== null) { %><p class="btn_mailToLink"><a href="<%= mailToLink %>">Send via Email</a></p><% } %>

      <% if (smsLink !== null) { %><p class="btn_smsLink"><a href="<%= smsLink %>">Send via SMS</a></p><% } %>


      <!--<p class="btn_checkin"><a href="/checkin/<%= venue.get('id') %>" class="js_checkIn">Check In</a></p>-->
      <p class="btn_checkin"><span class="js_checkIn">Check In</a></span>

      <p class="btn_addToContacts"><span class="js_addToContacts">Add to contacts</span></p>
      <p class="btn_addToFavourites"><span class="js_addToFavourites">Add to favourites</span></p>
    </div>
    <% } else { %>
    <div id="mapView" class="mapView">
      <p class="button btn_info"><a href="/venueDetails/<%= venue.get('id') %>" class="showInfoView"><img src="/assets/img/btn_info.png" alt="show info" /></a></p>
    </div>
    <% } %>
  <% } else { %>
    <h2>No Venue Listed</h2>
  <% } %>
</div>